.page {
    display:flex;
    flex-direction: column;
    margin:auto;
}

.display {
    flex:auto;
    /* width:100px;
    height:20px; */
    background-color: pink;
}

.buttons {
    flex:1;
    display:flex;
    flex-direction: column;
}

.buttons .row-div {
    flex: 1;
    display:flex;
}

.buttons .row-div .regular-button {
    flex:1;
}